 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/fbf57ca2e1579ecfa83dc5499691dae00f16dcf86d2dbe7fd49cf37dd85da2a1cae413143e2e3cce64dc0bcb8a9b274f35879605f985ccc3bb6fb1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 217px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
}

.u-section-1 .u-image-1 {
  height: 437px;
  margin-top: 40px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 855px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    transition-duration: 0.5s;
    margin-top: 97px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    transition-duration: 0.5s;
    margin-top: -33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    transition-duration: 0.5s;
    margin-top: -22px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 63px;
    margin-bottom: -70px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-shape-1 {
  height: 510px;
  margin-top: 255px;
  margin-bottom: 0;
  margin-left: 0;
  background-image: none;
}

.u-section-2 .u-shape-2 {
  width: 343px;
  height: 545px;
  margin: -633px auto 0 94px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -633px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 967px;
}

.u-section-2 .u-image-1 {
  height: 568px;
  margin: 44px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: 161px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 529px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 331px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  font-size: 4.5rem;
  margin: 13px 0 31px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 438px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 967px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 44px 20px 0;
}

.u-section-2 .u-image-2 {
  height: 515px;
  margin: 32px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 283px;
    margin-left: 86px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 853px;
  }

  .u-section-2 .u-image-1 {
    height: 468px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 208px 16px -47px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    font-weight: 400;
    font-size: 3.75rem;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 797px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-2 {
    height: 425px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-top: 254px;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 347px;
    margin-top: -632px;
    margin-left: 73px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 538px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 415px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 146px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 977px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin-top: 38px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 454px;
    height: 565px;
    margin-top: -364px;
    margin-right: 88px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -635px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 464px;
    margin-top: 38px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin: 98px 5px 90px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 55px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 623px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 115px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-image-2 {
    height: 733px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    height: 307px;
    margin-top: 268px;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 322px;
    height: 537px;
    margin-top: -465px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -547px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 875px;
  }

  .u-section-2 .u-image-1 {
    height: 501px;
    width: 305px;
    object-position: 37.34% 0%;
    margin-top: 27px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-1 {
    margin: 50px 27px -47px 35px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 67px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 140px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-2 {
    height: 641px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-image-1 {
  width: 475px;
  height: 524px;
  margin: 60px 84px 0 auto;
}

.u-section-3 .u-image-2 {
  height: 433px;
  width: 632px;
  margin: -265px auto 0 94px;
}

.u-section-3 .u-image-3 {
  width: 298px;
  height: 336px;
  margin: -669px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 322px;
  height: 311px;
  margin: 121px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-3 .u-image-1 {
    width: 414px;
    height: 487px;
    margin-right: 83px;
  }

  .u-section-3 .u-image-2 {
    height: 376px;
    width: 549px;
    margin-top: -106px;
    margin-left: 60px;
  }

  .u-section-3 .u-image-3 {
    width: 285px;
    height: 321px;
    margin-top: -633px;
  }

  .u-section-3 .u-image-4 {
    width: 271px;
    height: 262px;
    margin-top: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-3 .u-image-1 {
    width: 375px;
    height: 457px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -86px;
  }

  .u-section-3 .u-image-3 {
    width: 276px;
    height: 276px;
    margin-top: -559px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-3 .u-image-1 {
    width: 311px;
    height: 379px;
    margin-right: 47px;
  }

  .u-section-3 .u-image-2 {
    height: 314px;
    width: 435px;
    margin-top: 103px;
    margin-right: 29px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -533px;
  }

  .u-section-3 .u-image-4 {
    width: 242px;
    height: 234px;
    margin-top: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-3 .u-image-1 {
    height: 380px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 266px;
    width: 301px;
    margin-top: 98px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 235px;
    height: 247px;
    object-position: 37.98% 0%;
    margin-top: -453px;
  }

  .u-section-3 .u-image-4 {
    width: 222px;
    height: 222px;
    margin: 147px auto 60px 0;
  }
} .u-section-4 {
  min-height: 845px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 529px);
  height: 234px;
  background-image: none;
  margin: 552px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -726px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 805px;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 552px;
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 910px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 874px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  height: 417px;
  margin-top: 89px;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 765px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 529px);
    height: 155px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -647px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-4 .u-image-1 {
    height: 441px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 721px;
  }

  .u-section-4 .u-image-2 {
    height: 330px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 289px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 529px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 507px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 860px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1726px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 308px);
    height: 190px;
    margin-top: 776px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -906px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 962px;
  }

  .u-section-4 .u-image-1 {
    height: 761px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 678px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1872px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
    margin-top: 473px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -633px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 479px;
    width: 280px;
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 812px;
  }

  .u-section-4 .u-image-2 {
    height: 417px;
    width: 270px;
    margin-right: 50px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1143px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 771px;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 548px;
  margin: 24px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 12px) calc(25% - 12px) calc(25% - 12px) calc(25% - 12px);
  min-height: 591px;
  grid-gap: 16px 16px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 50px 20px 30px;
}

.u-section-5 .u-image-1 {
  width: 200px;
  height: 200px;
  background-image: url("images/124280116_1633368366824747_853118004548999157_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  line-height: 1.8;
  margin: 23px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 20px 30px;
}

.u-section-5 .u-image-2 {
  width: 200px;
  height: 200px;
  background-image: url("images/maxresdefault.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  line-height: 1.8;
  margin: 23px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-3 {
  padding: 50px 20px 30px;
}

.u-section-5 .u-image-3 {
  width: 200px;
  height: 200px;
  background-image: url("images/2422658552_d8147e0386_c1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  line-height: 1.8;
  margin: 23px 0 0;
}

.u-section-5 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-4 {
  padding: 50px 20px 30px;
}

.u-section-5 .u-image-4 {
  width: 200px;
  height: 200px;
  background-image: url("images/995_149079320174461002.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  line-height: 1.8;
  margin: 23px 0 0;
}

.u-section-5 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 487px;
  }

  .u-section-5 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-image-1 {
    width: 177px;
    height: 177px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-image-2 {
    width: 177px;
    height: 177px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-image-3 {
    width: 177px;
    height: 177px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }

  .u-section-5 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-image-4 {
    width: 177px;
    height: 177px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
  }

  .u-section-5 .u-text-10 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    min-height: 1492px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 225px;
    height: 225px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 225px;
    height: 225px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 225px;
    height: 225px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-4 {
    width: 225px;
    height: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 260px;
    height: 260px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 260px;
    height: 260px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 260px;
    height: 260px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    width: 260px;
    height: 260px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 520px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-6 .u-container-layout-1 {
  padding: 21px 11px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 19px 0 2px;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: -43px 11px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-gallery-1 {
  width: 513px;
  height: 405px;
  grid-gap: 10px 10px;
  margin: 0 auto -5px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -22px;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 23px;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 23px;
}

.u-section-6 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: none;
  min-height: 100px;
  padding: 23px;
}

.u-section-6 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: none;
  min-height: 100px;
  padding: 23px;
}

.u-section-6 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: none;
  min-height: 100px;
  padding: 23px;
}

.u-section-6 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-6 {
  background-image: none;
  padding: 23px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: -49px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -49px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-gallery-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-gallery-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 171px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -82px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -15px;
    margin-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: -50px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  min-height: 477px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 0 46px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  margin: 45px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 431px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-4 {
  margin: 61px 20px 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 431px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-7 {
  margin: 45px 20px 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 431px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-top: 45px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1293px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-3 {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-6 {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-9 {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 35px auto 0;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 4.0625rem;
  margin: 20px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 745px;
  width: 1140px;
  grid-gap: 17px;
  margin: 53px 0 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-8 .u-over-slide-1 {
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  padding: 20px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 35px auto 53px;
  padding: 15px 50px 15px 48px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-8 .u-gallery-1 {
    height: 614px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1058px;
    width: 720px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3589px;
  }

  .u-section-8 .u-gallery-1 {
    height: 3174px;
    width: 540px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2441px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-gallery-1 {
    height: 1998px;
    width: 340px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 60px;
  }
}

.u-section-8 .u-icon-1,
.u-section-8 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-9 {
  min-height: 1092px;
}

.u-section-9 .u-image-1 {
  height: 575px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-group-1 {
  width: 946px;
  min-height: 545px;
  background-image: none;
  margin: -83px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-9 .u-list-1 {
  width: 850px;
  margin: -333px auto 50px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 283px;
  grid-gap: 21px 21px;
  grid-auto-columns: calc(33.3333% - 14px);
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-9 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-9 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 28px 30px;
}

.u-section-9 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-9 .u-text-7 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 940px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14px));
    grid-auto-columns: calc(33.333333333333336% - 14px);
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 719px;
    grid-auto-columns: calc(50% - 10.5px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1577px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
    margin-top: -431px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 25px;
  }

  .u-section-9 .u-icon-2 {
    margin-top: 25px;
  }

  .u-section-9 .u-icon-3 {
    margin-top: 25px;
  }
}